#mainContent {
  background-color: #fcf7ef;
}
.modal-modify {
  position: absolute !important;
  top: 200px !important;
}

.Fs-8 {
  font-size: 0.8rem;
}
.number {
  font-size: 0.8rem;
  color: #309bf8;
}
.Fs-9 {
  font-size: 0.8rem;
}
