#mainContent {
  background-color: #fcf7ef;
}
.modal-modify {
  position: fixed !important;
  top: 10% !important;
  left: 200px;
}

.Fs-8 {
  font-size: 0.8rem;
}
.addPost {
  position: fixed !important;
  left: 12.5%;
  top: 5%;
  z-index: 50;
  width: 75%;
  box-shadow: 0px 0px 14px 3px;
  max-height: 69vh;
}
.postButton {
  border-radius: 50px;
  border: 0;
  background-color: rgb(231, 231, 231);
  padding: 0.3em 0.9em;
}
.postButton:hover {
  background-color: #0d6efd;
  color: white !important;
  transition: 0.5s;
}
.bg-grey1 {
  background-color: rgb(231, 231, 231);
}
.bg-none {
  background-color: none !important;
  background: none !important;
}
.outline-0 {
  outline: none !important;
}
.rounded-50 {
  border-radius: 50px !important;
}
.profile-img {
  height: 50px !important;
}
.kkk {
  word-break: break-all;
  white-space: normal;}
.number {
  font-size: 0.8rem;
  color: #309bf8;
}
.Fs-9 {
  font-size: 0.9rem;
}
